<!-- Left Panel-->
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2 scroll-left-right-panel">
            <div class="left-ui-panel">
                <app-interactive-window windowTitle="Backpack" class="align-right">
                    <!-- Content for the "Details" window -->
                </app-interactive-window>
                <app-interactive-window windowTitle="Inventory" class="align-right">
                    <!-- Content for the "Inventory" window -->
                </app-interactive-window>
                <app-interactive-window windowTitle="Cloak" class="align-right">
                    <!-- Content for the "Inventory" window -->
                </app-interactive-window>
                <!-- ... other interactive windows ... -->
            </div>
        </div>

        <!-- CENTER PANEL Game veiwer -->
        <div class="col-md-8 h-100 center-main">
            <div class="feed">
                <div id="roomDescriptionViewer">
                    <div class="room-name-header">{{ roomName }}</div>
                    <p class="text-push" [innerHTML]="roomDescription + ' ' + itemListAsString"></p>
                    <p class="text-push" [innerHTML]=" ' ' + characterListAsString + '' "></p>
                    
                </div>
                <!-- game-play.component.html -->
                <div class="message-container no-scrollbar" #messageContainer>
                    <p class="feed-message" *ngFor="let message of textFeedService.getTextFeedChangeObservable() | async" [innerHTML]="message"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <form (ngSubmit)="onSubmit()" class="media-hide">
                        <div class="container" tabindex="0" (keydown)="handleKeypadNavigation($event)">
                            <input type="text" class="form-control" placeholder="Type here..." [(ngModel)]="userInput" (keydown.arrowUp)="handleArrowKey('up')" (keydown.arrowDown)="handleArrowKey('down')" autocomplete="off" name="userInput">
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <div class="button-control">
                        <button class="btn-black" (click)="move('up')">North</button>
                        <button class="btn-black" (click)="move('down')">South</button>
                        <button class="btn-black" (click)="move('left')">West</button>
                        <button class="btn-black" (click)="move('right')">East</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Panel  -->
        <div class="col-md-2 right-ui-panel">
            <div class="">
                <app-interactive-window windowTitle="Health">
                    <!-- Content for the "Map" window -->
                </app-interactive-window>
                <app-interactive-window windowTitle="Quests">
                    <!-- Content for the "Quests" window -->
                </app-interactive-window>
                <app-interactive-window windowTitle="Spells">
                    <!-- Content for the "Quests" window -->
                </app-interactive-window>
                <!-- ... other interactive windows ... -->
            </div>
        </div>
        <div class="container-fluid">

        </div>
    </div>
</div>

<!-- Display character's name 
<h1 class="character-name-header">Playing as: {{ character?.characterName }}</h1> 
-->