<!--splash-screen.component.html-->


<div class="no-scroll">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-1 d-none d-md-block">
                <div class="splashImgLeft"></div>
            </div>
            <div class="col-lg-8 col-md-10 col-12 centered-container">
                <div class="form-container">
                    <h1>Echoes of Atherion:</h1>
                    <p>War of the Virulent</p>
                    <div class="hole">
                        <div class="playscreen">

                            <button class="btn-black" [routerLink]="'/character-list'">Select Character</button>
                            <button class="btn-black" [routerLink]="'/create-character'">Create Character</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-1 d-none d-md-block">
                <div class="splashImgRight"></div>
            </div>
        </div>
    </div>
</div>