.nav-link {
    font-size: 1em;
    font-weight: 700;
    border: solid 1px;
    border-radius: 10px;
}
.custom-button:hover {
    border-radius: 10px;
    background-color: #c1c1c1;
    /* Slightly lighter grey */
    color: #fff;
    /* Keeping text color white for contrast */
  
  }
  
  .custom-button:active,
  .custom-button:focus {
    border-radius: 10px;
    background-color: #828282;
    /* Even darker shade for active state */
    border-color: #4a90e2;
    /* A blue border for focus/active state */
    color: #fff;
  }